

@media (max-width:767px) { 
    .sm-menu-hide { 
        display: none;
    }
    
    .sm-menu-appear { 
        display: flex;
    }
    
    .sm-menu-btn-hide { 
        display: none;
    }
    
    .sm-menu-btn-appear { 
        display: block;
    }
}


.writing-mode-vertical {
    writing-mode: vertical-rl; /* Vertical text from top to bottom */
    text-orientation: mixed; /* This property specifies the orientation of text within lines */
    transform: rotate(360deg); /* To make the text appear right-side up */
  }