

/* @media (max-width:767px) { 
    .sm-menu-hide { 
        display: none;
    }
    
    .sm-menu-appear { 
        display: flex;
    }
    
    .sm-menu-btn-hide { 
        display: none;
    }
    
    .sm-menu-btn-appear { 
        display: block;
    }
}
font-family: 'Poppins', sans-serif;
*/ 


.menu-appear { 
    transition: 0.5s ease-in-out;
    transform: translateX(0);
}

.nav{ 
    transition: 0.3s ease-in-out;
    
}

.selectedRS { 
    top: -1rem;
    left: 10px;
    color: #4299E1;
    font-size: 0.75rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}