

/* @media (max-width:767px) { 
    .sm-menu-hide { 
        display: none;
    }
    
    .sm-menu-appear { 
        display: flex;
    }
    
    .sm-menu-btn-hide { 
        display: none;
    }
    
    .sm-menu-btn-appear { 
        display: block;
    }
}
font-family: 'Poppins', sans-serif;
*/ 


.menu-appear { 
    transition: 0.5s ease-in-out;
    transform: translateX(0);
}

.nav{ 
    transition: 0.3s ease-in-out;
}